body {
    font-size: 20px;
    font-family: cursive;
}

.titulo {
    background-color: coral;
}

.paragrafo {
    background-color: darkseagreen;
}

.cor1 {
    background-color: turquoise;
}

.cor2 {
    background-color: tomato;
}

.cor3 {
    background-color: cornflowerblue;
}